.minicolors-theme-default.minicolors {
	width: 100% !important;
}
.minicolors-theme-default .minicolors-input {
    height: initial !important;
	width: 100% !important;
}
.minicolors-theme-default .minicolors-swatch {
    top: 50% !important;
    margin-top: -9px !important;
}