<template>
	<div>
        <div class="uSocial-Share" data-pid="54bb82f7649a89d069fed43d04692930" data-type="share" data-options="round-rect,style1,default,absolute,horizontal,size48,eachCounter0,counter0,nomobile" data-social="fb,twi,vk,pinterest,email" data-mobile="vi,wa,sms"></div>
</div>
</template>

<script>
    export default {
        data() { return {} }
    }
</script>