<template>
	<div>
		<a @click="onTop" id="onTop" @scroll="handleScroll" v-show="visible"><img src="/images/onTop.png"></a>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				visible: false
			}
		},
		created: function () {
	        window.addEventListener('scroll', this.handleScroll);
	    },
	    destroyed: function () {
	        window.removeEventListener('scroll', this.handleScroll);
	    },
		methods: {
			onTop() {
				$('html, body').animate({scrollTop: 0}, 500, 'linear');
			},
			handleScroll () {
				this.visible = window.scrollY > 100;
			}
		}
	}
</script>