@font-face {
	font-family: 'Bebas Neue';
	src: url('/fonts/BebasNeueRegular.eot');
	src: url('/fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/BebasNeueRegular.woff2') format('woff2'),
		url('/fonts/BebasNeueRegular.woff') format('woff'),
		url('/fonts/BebasNeueRegular.ttf') format('truetype'),
		url('/fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('/fonts/BebasNeueBold.eot');
	src: url('/fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/BebasNeueBold.woff2') format('woff2'),
		url('/fonts/BebasNeueBold.woff') format('woff'),
		url('/fonts/BebasNeueBold.ttf') format('truetype'),
		url('/fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Minion Pro';
	src: url('/fonts/MinionPro-Regular.eot');
	src: url('/fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/MinionPro-Regular.woff2') format('woff2'),
		url('/fonts/MinionPro-Regular.woff') format('woff'),
		url('/fonts/MinionPro-Regular.ttf') format('truetype'),
		url('/fonts/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Minion Pro';
	src: url('/fonts/MinionPro-It.eot');
	src: url('/fonts/MinionPro-It.eot?#iefix') format('embedded-opentype'),
		url('/fonts/MinionPro-It.woff2') format('woff2'),
		url('/fonts/MinionPro-It.woff') format('woff'),
		url('/fonts/MinionPro-It.ttf') format('truetype'),
		url('/fonts/MinionPro-It.svg#MinionPro-It') format('svg');
	font-weight: normal;
	font-style: italic;
}


@import "node_modules/mdi/scss/materialdesignicons";