// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "../../../node_modules/pnotify/dist/pnotify.css";
@import "../../../node_modules/pnotify/dist/pnotify.brighttheme.css";
// Settings
@import "settings";
@import "fonts";
// Foundation
@import "node_modules/foundation-sites/scss/foundation";

// Include Everything (True) for the Flex Grid :);
@include foundation-everything($prototype: true);

.mdi {
  vertical-align: middle;
  position: relative;
  top: 1px;
}

a {
  transition-property: all;
  transition-duration: 0.2s;
  &:hover {
    color: #4f5b6e;
  }
}

h5 {
  font-family: 'Minion Pro';
  font-size: rem-calc(32);
  font-style: italic;
}

h4 {
  font-family: 'Bebas Neue';
  font-size: rem-calc(32);
  font-style: normal;
}

.callout {
  &.black {
    background-color: $black;
    color: $white;
  }
  &.white {
    border: 1px solid $black;
    color: $black;
    input[type="email"] {
      border: 1px solid $black;
    }
    input[type="submit"] {
      border: 1px solid $black;
      margin: 0;
    }
  }
  @include breakpoint(small only) {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.button {
  &.black {
    @include button-style($black, scale-color($medium-gray, $lightness: -20%), $white);
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: rem-calc(20);
  }
  &.hollow {
    &.black {
      @include button-hollow;
      text-transform: uppercase;
      font-family: 'Bebas Neue';
      font-size: rem-calc(20);
      color: $black;
      border-color: $black;
      &:hover {
        color: $medium-gray;
        border-color: $medium-gray;
      }
      &.active {
        color: $white;
        border-color: $black;
        background-color: $black;
      }
    }
  }
}

.hover-dashed {
  border-bottom: 1px dashed $black;
  &:hover {
    border-color: transparent;
  }
}

.black {
  color: $black;
}

header {
  .sitename {
    display: flex;
    span {
      color: #22201e;
      font-size: rem-calc(70);
      text-transform: uppercase;
      border-top: 5px solid #22201e;
      font-weight: 700;
      padding: rem-calc(30) 0;
      font-family: 'Bebas Neue';
    }
  }
  a {
    color: $black;
  }
  .look-book-link {
    color: $medium-gray;
    span {
      border-bottom: 1px dashed $medium-gray;
      font-family: 'Bebas Neue';
      font-size: rem-calc(26);
      &:hover {
        border-color: transparent;
      }
    }
  }
  //.mobile-dashboard {
  //	display: block;
  //	padding: 20px 15px;
  //	background: #e4e4e4;
  //	border-bottom: 1px solid #6e6e6e;
  //	a {
  //		color: #666;
  //	}
  //}
  .mobile-sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .14);
  }
  .mobile-menu-bar {
    padding: rem-calc(20px) 0;
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    left: 0;
    top: 15px;
    .menu-icon {
      width: 38px;
      height: 23px;
      margin: 0 rem-calc(10px);
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 38px;
        height: 3px;
        background: #4f5b6e;
        box-shadow: 0 10px 0 #4f5b6e, 0 20px 0 #4f5b6e;
        content: '';
      }
    }
  }
  .mobile-menu {
    position: fixed;
    height: 100%;
    width: 70%;
    top: 0;
    left: 0;
    background: $white;
    z-index: 2;
    overflow-y: scroll;
    .call-button {
      display: block;
      text-align: center;
      background: #4f5b6d;
      color: #fff;
      margin: 15px 10px;
      padding: 10px;
      img {
        width: 40px;
      }
    }
    .look-book-link {
      margin: rem-calc(5) 0;
      span {
        border: none;
      }
    }
    .menu {
      li {
        margin: 0;
        padding: rem-calc(15);
        border-bottom: 1px solid #ccc;
        a {
          padding: 0;
          border-left: 4px solid transparent;
          border-bottom: none;
          &:hover {
            color: #4f5b6e;
          }
          &.active {
            border-bottom: none;
            span {
              border-bottom: 4px solid $black;
            }
          }
          &:after {
            border-color: transparent transparent transparent $black;
          }
          &:before {
            border-color: transparent $black transparent transparent;
          }
        }
      }
    }
  }
  .menu {
    li {
      margin: auto;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        text-transform: uppercase;
        color: $black;
        font-family: 'Bebas Neue';
        font-size: rem-calc(26);
        padding: 0.7rem 0;
        &:hover {
          color: #4f5b6e;
        }
        &.active {
          border-bottom: 4px solid $black;
        }
      }
    }
  }
}

footer {
  background: $light-gray;
  line-height: rem-calc(100);
  color: $white;
  font-family: 'Bebas Neue';
  font-size: rem-calc(14);
}

form {
  &.white {
    label {
      color: $white;
      font-family: 'Minion Pro';
      font-size: rem-calc(16);
    }
    input {
      border: 1px solid #fff;
      border-right: 0;
    }
    .input-group-button {
      background: $white;
      input {
        margin: 2px;
      }
    }
  }
}

#our-floors {
  a {
    color: $black;
    text-decoration: none;
  }
  .floor {
    border: 1px solid $black;
    display: block;
    margin: auto;
    text-align: center;
    padding: 40px 0;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.2s;
    color: $black;
    @media screen and (max-width: 40em) {
      border: none;
    }
    div {
      font-family: 'Minion Pro';
      font-size: rem-calc(59);
      width: 129px;
      height: 65px;
      background: url('/images/floor_black.png') no-repeat 50% 50%;
      line-height: 104px;
      margin: 0 auto;
    }
    p {
      text-transform: uppercase;
      font-family: 'Bebas Neue';
      font-size: rem-calc(32);
      text-decoration: none;
    }
    &:hover {
      background: #495b6f;
      color: $white;
      fill: $white;
      div {
        background-image: url('/images/floor_white.png');
      }
      p {
        text-decoration: underline;
      }
      object {
        fill: $white;
      }
    }
  }
}

#brands {
  background: $black;
  padding: rem-calc(20) 0;
  &.white {
    background: $white;
  }
  .brand-site-link {
    text-decoration: underline;
    font-family: 'Minion Pro';
    font-size: 1rem;
    color: $white;
    opacity: 0;
    transition: all 100ms linear;
    &__black {
      color: $black;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .brand-wrapper {
    text-align: center;
    min-height: 120px;
    margin-bottom: 1rem;
    &:hover {
      .brand-site-link {
        opacity: 1;
      }
    }
  }
  .brand {
    position: relative;
    display: flex;
    //height: 100%;
    //&:after {
    //	position: absolute;
    //	left: 0;
    //	right: 0;
    //	top: 0;
    //	bottom: 0;
    //	content: "";
    //    background: rgba(34, 33, 31, 0.5)
    //}
    &:hover {
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, .3);
      //&:after {
      //	background: transparent;
      //}
    }
    img {
      margin: auto;
    }
  }
  .total {
    color: $white;
    a {
      color: $white;
      text-decoration: underline;
      font-family: 'Minion Pro';
      font-size: rem-calc(16);
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#partners {
  .VueCarousel {
    width: 100%;
  }
  .partner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 6px;
    img {
      width: 100%;
    }
    span {
      color: $white;
      text-decoration: underline;
      position: absolute;
      bottom: 20px;
      display: block;
      text-align: center;
      width: 100%;
      opacity: 0;
      transition-property: all;
      transition-duration: 0.2s;
      font-family: 'Minion Pro';
      font-size: rem-calc(16);
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(73, 91, 111, 0.5);
      transition-property: all;
      transition-duration: 0.2s;
      z-index: 1;
    }
    &:hover {
      span {
        opacity: 1;
      }
      &:after {
        background: rgba(73, 91, 111, 0);
      }
    }
  }
  .VueCarousel-navigation-button {
    width: 42px;
    height: 72px;
    text-indent: -10000px;
    &.VueCarousel-navigation-prev {
      background: url(/images/arrow_left.png);
    }
    &.VueCarousel-navigation-next {
      background: url(/images/arrow_right.png);
    }
  }
}

#last-news {
  .last-news-box {
    background: $medium-gray;
    article {
      padding: 0 rem-calc(20);
      height: 360px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: start;
      h4, p, a {
        color: $white;
      }
      a {
        font-family: 'Minion Pro';
        font-size: rem-calc(16);
      }
      .button {
        font-family: 'Bebas Neue';
        font-size: rem-calc(20);
        text-decoration: none;
        border-color: $white;
        border-width: 2px;
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

#contacs {
  address, a {
    font-family: 'Minion Pro';
    font-size: rem-calc(18);
    font-style: normal;
    color: $black;
  }
  a {
    &:hover {
      color: $medium-gray;
    }
  }
}

.title-line {
  display: flex;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  &:after {
    content: "";
    display: block;
    height: 1px;
    background: $black;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 0;
  }
  span {
    margin: auto;
    background: $white;
    padding: 0 rem-calc(20);
    z-index: 1;
    font-family: 'Bebas Neue';
    font-size: rem-calc(32);
  }
  .font-italic {
    font-family: 'Minion Pro';
    text-transform: initial;
  }
  &.without-line {
    &:after {
      display: none;
    }
  }
}

#novelties, #recommend-professionals {
  .VueCarousel {
    width: 100%;
  }
  .VueCarousel-navigation {
    @media screen and (max-width: 80em) {
      display: none;
    }
  }
  .item {
    @media screen and (max-width: 40em) {
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.14);
      margin: 0 rem-calc(5);
    }
    display: flex;
    flex-wrap: wrap;
    margin: 6px;
    padding: 20px 0;
    color: $black;
    &:hover {
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, .14);
    }
    img, h6, p, span {
      margin: 0 auto;
    }
    h6, .price {
      font-family: 'Bebas Neue';
      font-size: rem-calc(20);
      text-transform: uppercase;
    }
    p {
      font-family: 'Minion Pro';
      font-size: rem-calc(14);
      width: 100%;
    }
    .old_price {
      font-family: 'Bebas Neue';
      font-size: rem-calc(18);
      text-decoration: line-through;
    }
    .discount_price {
      font-family: 'Bebas Neue';
      font-size: rem-calc(20);
      color: $red;
    }
  }
  .VueCarousel-navigation-button {
    width: 42px;
    height: 72px;
    text-indent: -10000px;
    top: 38%;
    &.VueCarousel-navigation-prev {
      background: url(/images/arrow_left.png);
    }
    &.VueCarousel-navigation-next {
      background: url(/images/arrow_right.png);
    }
  }
}

#banners {
  .floor {
    img {
      &:hover {
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, .14);
      }
    }
  }
}

#share-socials {
  a {
    img {
      max-width: 32px;
      max-height: 32px;
      margin: 0 6px;
    }
  }
  .title {
    font-family: 'Minion Pro';
    font-size: rem-calc(26);
    color: $black;
    margin-left: 10px;
  }
}

#instagramm {
  .VueCarousel-slide {
    img {
      width: 100%;
    }
    a {
      display: block;
      position: relative;
      width: 238px;
      height: 238px;
      overflow: hidden;
      &:after {
        display: block;
        content: "";
        width: 32px;
        height: 32px;
        background: url('/images/instagram.png') no-repeat 50% 50%;
        position: absolute;
        right: 0;
        bottom: -1px;
      }
    }
    &:nth-child(even) {
      a {
        margin-bottom: 100%;
        @include breakpoint(small only) {
          margin: 0;
        }
      }
    }
    &:nth-child(odd) {
      a {
        margin-top: 100%;
        @include breakpoint(small only) {
          margin: 0;
        }
      }
    }
  }
}

aside {
  nav {
    ul {
      li {
        border-bottom: 1px solid $black;
        a {
          font-family: 'Bebas Neue';
          font-size: rem-calc(20);
          text-transform: uppercase;
          color: $black;
        }
        li {
          border-bottom: none;
        }
      }
    }
  }
}

article, #news-list, #catalog {
  h1 {
    font-family: 'Minion Pro';
    font-size: rem-calc(32);
    font-style: italic;
  }
}

#news-list {
  time {
    font-family: 'Minion Pro';
    font-size: rem-calc(14);
    color: $light-gray;
    margin-top: 10px;
    display: block;
  }
  h3 {
    line-height: .7;
    margin: 0;
    a {
      font-family: 'Bebas Neue';
      font-size: rem-calc(20);
      color: $black;
      text-transform: uppercase;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .last-news-text {
    font-size: rem-calc(14);
    margin: 1rem 0;
  }
  a {
    &.more {
      text-decoration: underline;
      font-family: 'Minion Pro';
      font-size: rem-calc(14);
      color: $light-gray;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .big-news {
    h3 {
      a {
        text-decoration: none;
      }
    }
  }
}

#catalog {
  .item {
    @media screen and (max-width: 40em) {
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.14);
      margin: 0 rem-calc(5);
    }
    &:hover {
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, .14);
    }
    h3, .price {
      font-family: 'Bebas Neue';
      font-size: rem-calc(20);
      color: $black;
    }
    .old_price {
      font-family: 'Bebas Neue';
      font-size: rem-calc(18);
      color: $black;
      text-decoration: line-through;
      display: inline-block;
    }
    .discount_price {
      font-family: 'Bebas Neue';
      font-size: rem-calc(20);
      color: $red;
      display: inline-block;
    }
    span {
      display: block;
      font-family: 'Minion Pro';
      font-size: rem-calc(14);
      color: $black;
    }
  }
}

#catalog-view {
  hgroup {
    h1 {
      font-family: 'Bebas Neue';
      font-size: rem-calc(26);
      text-transform: uppercase;
    }
    h2 {
      font-family: 'Minion Pro';
      font-size: rem-calc(16);
    }
  }
  .price {
    font-family: 'Minion Pro';
    font-size: rem-calc(20);
  }
  .old_price {
    font-family: 'Minion Pro';
    font-size: rem-calc(18);
    text-decoration: line-through;
  }
  .discount_price {
    font-family: 'Minion Pro';
    font-size: rem-calc(20);
    color: $red;
  }
  .color {
    font-family: 'Minion Pro';
    font-size: rem-calc(14);
    color: #666;
    span {
      color: $black;
    }
  }
  .sizes {
    label {
      color: #666;
      font-family: 'Minion Pro';
      font-size: rem-calc(14);
    }
    a {
      color: #666;
      border-bottom: 1px dashed #666;
      font-size: rem-calc(14);
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
  .change-color {
    .current {
      color: $black;
      font-family: 'Minion Pro';
      font-size: rem-calc(18);
      span {
        font-size: rem-calc(16);
      }
    }
    ul {
      list-style: none;
      li {
        display: inline-block;
        position: relative;
        margin: 0 0.5rem;
        span {
          width: 70px;
          height: 10px;
          display: block;
          position: absolute;
          bottom: -20px;
          left: 0;
          right: 0;
          border: 1px solid #e4e4e4;
        }
        input {
          display: none;
        }
        div {
          width: 70px;
          height: 70px;
          cursor: pointer;
          border: 1px solid #e4e4e4;
          background-size: cover;
        }
      }
    }
  }
  .product-image {
    @media screen and (max-width: 40em) {
      padding: rem-calc(10);
      margin: rem-calc(10);
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.14);
      background-color: #fff;
    }
  }
  .VueCarousel-pagination {
    @media screen and (min-width: 40em) {
      display: none;
    }
  }
  .VueCarousel-navigation {
    @media screen and (max-width: 40em) {
      display: none;
    }
  }
  .VueCarousel {
    margin: 0 80px;
    @media screen and (max-width: 40em) {
      margin: 0;
    }
    .VueCarousel-navigation-button {
      width: 42px;
      height: 72px;
      text-indent: -10000px;
      &.VueCarousel-navigation-prev {
        background: url(/images/arrow_left.png);
      }
      &.VueCarousel-navigation-next {
        background: url(/images/arrow_right.png);
      }
    }
  }
  #novelties, #recommend-professionals {
    .VueCarousel {
      margin: 0;
    }
  }
}

ul {
  &.pagination {
    li {
      &:not(.ellipsis) {
        border: 1px solid $medium-gray;
      }
    }
  }
}

#feedbacks-form {
  p {
    font-family: 'Minion Pro';
    font-size: rem-calc(12);
    color: #666;
  }
  a {
    color: #666;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.menu {
  &.without-lines {
    li {
      border-bottom: none;
      &:last-child {
        border-bottom: 1px solid $black;
      }
    }
  }
}

.checkbox-label {
  position: relative;
  padding-left: 30px;
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 4px;
  font-family: 'Bebas Neue';
  font-size: rem-calc(20);
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    content: "";
    border: 1px solid #d9d9d9;
  }
  &:after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 11px;
    height: 7px;
    content: "";
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
    -webkit-transform: scale(0) rotate(-45deg);
    transform: scale(0) rotate(-45deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: .2s;
    transition-timing-function: linear;
  }
  &.checked {
    &:after {
      -webkit-transform: scale(1) rotate(-45deg);
      transform: scale(1) rotate(-45deg);
    }
  }
  input {
    display: none;
  }
}

.is-accordion-submenu-parent {
  & > a {
    padding: 0.7rem 1rem 0.7rem 2.7rem;
    &:after {
      left: 1rem;
      right: unset;
    }
  }
}

.accordion-menu {
  .reset {
    position: absolute !important;
    right: 0;
    top: 0;
    z-index: 1;
    color: $light-gray;
    border-bottom: 1px dashed $light-gray;
    text-transform: capitalize !important;
    font-size: rem-calc(14);
    font-family: 'Minion Pro';
    padding: 0.7rem 0 0 0;

    &:hover {
      border-bottom: 1px solid transparent;
    }
    &:after {
      display: none !important;
    }
  }
}

.accordion-title {
  font-size: rem-calc(18);
  font-family: 'Minion Pro';
  padding: 1.25rem 1.5rem;
  &:after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: $black transparent transparent;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    left: 0;
  }
  &[aria-expanded='true'] {
    &:after {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }
  }
}

#look-book {
  h2 {
    font-family: 'Minion Pro';
    font-size: 1.2rem;
    font-weight: bold;
  }
  .VueCarousel {
    margin: 0 20px;
    .VueCarousel-navigation {
      @media screen and (max-width: 40em) {
        display: none;
      }
    }
    .VueCarousel-pagination {
      @media screen and (min-width: 40em) {
        display: none;
      }
    }
    .VueCarousel-navigation-button {
      width: 42px;
      height: 72px;
      text-indent: -10000px;
      &.VueCarousel-navigation-prev {
        background: url(/images/arrow_left.png);
      }
      &.VueCarousel-navigation-next {
        background: url(/images/arrow_right.png);
      }
    }
  }
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $medium-gray;
    display: inline-block;
    cursor: pointer;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $medium-gray;
    display: inline-block;
    cursor: pointer;
  }

  .thumbs {
    overflow: hidden;
    max-height: 470px;
    a {
      display: block;
      margin: 10px auto;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.map-on-contacts {
  iframe {
    width: 100% !important;
  }
}

#onTop {
  background: #000;
  width: 47px;
  height: 27px;
  display: block;
  text-align: center;
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 1;
}

.shares-list {
  .button {
    width: 130px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    margin: 0;
  }
}

.countdown {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-size: rem-calc(16);
  font-family: 'Minion Pro';
}
.vue-carousel-pagination-inner {
  .VueCarousel-dot {
    padding: 5px !important;
  }
  .VueCarousel-dot-inner {
    background: transparent !important;
    border: 2px solid $medium-gray;
    width: 12px !important;
    height: 12px !important;
  }
  .VueCarousel-dot--active {
    .VueCarousel-dot-inner {
      background: $medium-gray !important;
    }
  }
  .VueCarousel-pagination {
    position: relative;
    top: -60px;
  }
}
#slider, #partners, #our-floors {
  .VueCarousel-navigation {
    @media screen and (max-width: 80em) {
      display: none;
    }
  }
  .VueCarousel-navigation-button {
    width: 42px;
    height: 72px;
    text-indent: -10000px;
    top: 50%;
    margin-top: -21px;
    &.VueCarousel-navigation-prev {
      background: url(/images/arrow_left.png);
      left: 50px;
    }
    &.VueCarousel-navigation-next {
      background: url(/images/arrow_right.png);
      right: 50px;
    }
  }
}

.reveal {
  font-size: rem-calc(16);
  font-family: "Minion Pro";
  @media screen and (max-width: 40em) {
    padding: 1.25rem 2.5rem;
  }

  h1 {
    font-size: rem-calc(32);
    font-style: italic;
    font-family: "Minion Pro";
  }
  a {
    color: $black;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  [type="submit"] {
    width: 80%;
  }
}

input[type="checkbox"] {
  &.custom {
    display: none;
    &:hover {
      &:before {
        border: 1px solid $black;
      }
    }
    &:checked {
      &:not(:disabled) + .checkbox-label {
        &:before {
          background: $white;
          border: 1px solid $black;
        }
        &:after {
          -webkit-transform: scale(1) rotate(-45deg);
          transform: scale(1) rotate(-45deg);
        }
      }
    }
  }
}

.checkbox-label {
  position: relative;
  padding-left: 30px;
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 !important;
  &:hover {
    &:before {
      border: 1px solid $black;
    }
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    content: "";
    border: 1px solid $black;
  }
  &:after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 11px;
    height: 7px;
    content: "";
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
    -webkit-transform: scale(0) rotate(-45deg);
    transform: scale(0) rotate(-45deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: .2s;
    transition-timing-function: linear;
  }
  &.checked {
    &:before {
      background: $white;
    }
    &:after {
      -webkit-transform: scale(1) rotate(-45deg);
      transform: scale(1) rotate(-45deg);
    }
  }
  input {
    display: none;
  }
}

input[type="radio"] {
  &.custom {
    display: none;
    &:hover {
      &:before {
        border: 2px solid $black;
      }
    }
    &:checked {
      &:not(:disabled) + .radio-label {
        &:before {
          background: $white;
          border: 2px solid $black;
        }
        &:after {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
    }
  }
}

.radio-label {
  position: relative;
  padding-left: 30px;
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 !important;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    content: "";
    border: 2px solid $black;
    border-radius: 10px;
  }
  &:after {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    content: "";
    background: $black;
    border-radius: 4px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: .2s;
    transition-timing-function: linear;
  }
  &:hover {
    &:before {
      border: 2px solid $black;
    }
  }
  &.checked {
    &:before {
      background: $black;
    }
    &:after {
      -webkit-transform: scale(1) rotate(-45deg);
      transform: scale(1) rotate(-45deg);
    }
  }
  input {
    display: none;
  }
}

.modal-filter-list {
  li {
    a {
      font-family: 'Bebas Neue';
      font-size: rem-calc(20);
      text-transform: uppercase;
      color: $black;
    }
  }
  .nested {
    overflow-y: scroll;
    max-height: 55vh;
    margin-top: 1rem;
    li {
      border-bottom: none;
      margin: 5px 0;
    }
  }
}
