<template>
	<div>
		<input type="text" placeholder="Text enter" v-model="text" />
		<span v-show="text" @click="text = ''">x</span>
	</div>
</template>
<style>
[name="input-clear"] {
	position: relative;
}
[name="input-clear"] span {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    cursor: pointer;
}
</style>
<script>
	export default {
		data() {
			return {
				text: ''
			}
		}
	}
</script>