<template>
    <div>
        <gallery :images="images" :index="index" @close="index = null"></gallery>
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4 margin-bottom-1" v-for="(image, imageIndex) in smallImages">
                <a @click="index = imageIndex" class="image" :key="imageIndex">
                    <img v-bind:src="image" class="width-100" />
                </a>
            </div>
        </div>
    </div>
</template>
<script>
    import VueGallery from 'vue-gallery';
    export default {
        props: [
            'images',
            'smallImages'
        ],
        data: function () {
            return {
                index: null
            };
        },
        components: {
            'gallery': VueGallery
        }
    }
</script>